<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
</head>
<body>
  <h1>Please fill out the following:</h1>
  <p>Boy's name <input type="text" placeholder="Enter a boy's name" ng-model="boyname"></p>
  <p>Adjective <input type="text" placeholder="Enter an adjective" ng-model="adjective"></p>
  <p>Plural noun <input type="text" placeholder="Enter a plural noun" ng-model="pnoun1"></p>
  <p>Plural noun <input type="text" placeholder="Enter a plural noun" ng-model="pnoun2"></p>
  <p>An insect, plural<input type="text" placeholder="Enter an insect (plural)" ng-model="insect"></p>
  <p>Plural noun<input type="text" placeholder="Enter an plural noun" ng-model="pnoun3"></p>
  <p>A verb ending in "s"<input type="text" placeholder="Enter an verb ending in 's'" ng-model="verb"></p>
  <h3>I'm in love with {{boyname}}. He's so {{adjective}}! He has big flat {{pnoun1}}, and when our {{pnoun2}} meet, I get {{insect}} in my stomach. I've fallen for him like a ton of {{pnoun3}}, and he {{verb}} me, too. But I think he's got another girlfriend. What should I do?</h3>

  </div>


</body>
</html>
