<!DOCTYPE html>
<html lang="en" ng-app="mathCalcApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
</head>
<body ng-controller="MathController">
  <form ng-submit= "view.calculateMaths()">
    <select ng-model= "view.operator">
      <option value= "Add">Add</option>
      <option value= "Subtract">Subtract</option>
      <option value= "Multiply">Multiply</option>
      <option value= "Divide">Divide</option>
      <option value= "Power">Power</option>
    </select>
    <br>
     First: <input type="text" ng-model="view.first">
     <br>
     Second: <input type="text" ng-model="view.second">
     <br>
    <input type="submit" value="Calculate!">
   <h5>The value is: {{view.solution}} </h5>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</body>
</html>
