<!DOCTYPE html>
<html lang="en" ng-app="cameraApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
</head>
<body>
  <h1>Camera Shop</h1>
  <div ng-controller="cameraController">
    <select name="sorty" ng-model="sorty">
      <option value="rating" selected>Rating</option>
      <option value="price">Price</option>
    </select>
    <ul>
      <li ng-repeat="element in array | orderBy : sorty">
        <h3>{{element.title}}</h3>
        <h5 class="orange" ng-hide="element.onSale==false">Price: {{element.price | currency}}  ON SALE!!!</h5>
        <h5 ng-show="element.onSale==false">Price: {{element.price | currency}}</h5>
        Rating: {{element.rating}}
        <br>
        <img class="camimages" src="{{element.image}}" alt="Camera Picture">
      </li>
    </ul>
  <script src="camera.js"></script>
</body>
</html>
