<form>
  <input type="text" ng-model="view.searchOMDB">
  <input type="submit" ng-click="view.searching()">
</form>
<select name="selector" ng-model="view.selector">
  <option value="movie">Movies</option>
  <option value="series">Tv Shows</option>
  <option value="episode">Episodes</option>
</select>
<div ng-repeat="results in view.searchresult">
  <h4><a href="#/{{results.imdbID}}" ng-click="view.specificTitle()" ng-model="imdbIDlink">{{results.Title}}</a> {{results.Year}}</h4>
  <img ng-src="{{results.Poster}}" alt="{{results.Title}}"></img>
</div>
